@import url('https://fonts.googleapis.com/css?family=Cormorant');
@import url('https://fonts.googleapis.com/css?family=Proza Libre');

.navItem {
    font-family: 'Cormorant';
    font-size: 1.3em;
    font-weight: bold;
}